@page
@model CreateModel

<div asp-validation-summary="All"></div>
<form method="post">
    <div class="form-group">
        <label asp-for="Customer.FirstName"></label>
        <input asp-for="Customer.FirstName" />
        <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.LastName"></label>
        <input asp-for="Customer.LastName" />
        <span asp-validation-for="Customer.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit">Save</button>
    </div>
</form>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}
