@page
@model LoginModel

<h1>Login</h1>

<form method="post">
@foreach (var scheme in Model.Schemes)
{
    <button class="btn btn-default" type="submit" name="scheme" value="@scheme.Name">@scheme.Name</button>
}
</form>